@mixin center_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@mixin center_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

@mixin center_flex {
    display: flex;
    align-items: center;
    margin: auto;
}